<footer class="footer-group">
  <!-- Este es el pie de pagina comun del sitio y muestra informacion basica junto a enlaces a redes sociales. -->
  <div class="footer-group">
    <div>
      <span>Todo Hielos Ⓒ 2025 - Todos los derechos reservados.</span>
    </div>
    <div>
      <span>Direccion de la empresa: Calle Simpecado 3, Macarena, Sevilla</span>
    </div>
  </div>
  <div class="footer-group">
    <a class="social-link" href="https://www.instagram.com/">
      <i class="bi bi-instagram social-icon"></i>
    </a>
    <a class="social-link" href="https://www.facebook.com/?locale=es_ES">
      <i class="bi bi-facebook social-icon"></i>
    </a>
    <a class="social-link" href="https://x.com/?lang=es">
      <i class="bi bi-twitter social-icon"></i>
    </a>
  </div>
</footer>
